
<% if @user.errors.any? %>
  <div id=“error_explanation”>
    <h2><%= pluralize(@user.errors.count, “error”) %> prohibited this information from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for [@user] do |f| %>

<p>
  <%= f.label :political_spectrum, 'Political View' %>
  <%= f.range_field :political_spectrum, :min=>1048831, :max=>16711680, class:"slide" %>


</p>
<br>

<p>
  <%= f.label :personal_hero, 'Personal Hero' %>
  <%= f.text_field :personal_hero %>
</p>
<br>

<p>
  <%= f.label :personality, 'Who Are You?' %>
  <%= f.select :personality, ['Philosopher', 'Rogue', 'Vigilante', 'Diplomat', 'Academic'], :prompt => 'Select One' %>
</p>
<br>

<%= f.submit 'Update Profile' %>
<% end %>
