
<%= form_for @user do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <br>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <br>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  <br>
  <p>
  <%= f.submit 'Create Account' %>
  </p>
  <% end %>
