<h1><%= @user.username %> Trophies </h1>

<% @user.articles.each do |article| %>

<% if article.winner == @user %>
    <img src="/trop.png" width="50px" height="50px">
    <a href="/articles/<%=article.id%>/comments"><%=article.title%></a><br>
    Toal Comments on Aritcle:<%=article.comments.count%><br>
    My Likes on that comment:<%article.comments.where(user_id: @user.id).each do |comment| %><%= comment.get_likes.size%><%end%><br>
<%end%>
<%end%>
