
<div class="newsfeedtitle">
<div class="newsheader">
<h1><strong>User Page</strong></h1>
</div>
</div>


<div class="profile-container">


<div class="box-top">
  <h1><%= @user.username %></h1>

</div>

<div class="display-leanings">


  <%= render 'single_user', user: @user %>

  <%= link_to('Edit', edit_user_path(@user)) %>




</div>

<% @user.articles.each do |article| %>
<div class="usertrophies">
<% if article.winner == @user %>
    <img src="/trop.png" width="50px" height="50px">
    <a href="/articles/<%=article.id%>/comments"><%=article.title%></a><br>
    Total Comments on Article:<%=article.comments.count%><br>
    My Likes on that comment:<%article.comments.where(user_id: @user.id).each do |comment| %><%= comment.get_likes.size%><%end%><br>
<%end%>
</div>
<%end%>

</div>
