
<div class="newsfeedtitle">
<div class="newsheader">
<h1><strong>Profile</strong></h1>
</div>
</div>


<!-- <div class="profile-container"> -->
<div class="wholeprofile">


  <div class="box-top">
    <h1><%= @user.username %></h1>
    <p> Total Comments Made: <%= @user.comments.all.count%></p>
    <p> Total Battles Won: <%= @user.total_wins %> </p>

    <% if current_user == @user %>
    <div class="edit_profile">
      <%= link_to('Edit Profile', edit_user_path(@user)) %>
    </div>
  </div>
  <% end %>



  <div class="leanings_trophies">

      <aside class="display-leanings">

        <%= render 'single_user', user: @user %>

      </aside>




        <div class="usertrophies">
          <% @user.articles.each do |article| %>

            <% if article.winner == @user %>
                <img src="/trop.png" width="50px" height="50px">
                <a href="/articles/<%=article.id%>/comments"><%=article.title%></a><br>
                Total Comments on Article:<%=article.comments.count%><br>
                My Likes on that comment:<%article.comments.where(user_id: @user.id).each do |comment| %><%= comment.get_likes.size%><%end%><br>

            <%end%> <hr>
          <%end%>
        </div>

    </div>

</div>
